@font-face {
  font-family: "iconfont"; /* Project id 3930048 */
  src: url('iconfont.woff2?t=1678450163249') format('woff2'),
       url('iconfont.woff?t=1678450163249') format('woff'),
       url('iconfont.ttf?t=1678450163249') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoxi:before {
  content: "\e63e";
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e606";
}

.icon-liwuhuodong:before {
  content: "\e600";
}

.icon-weizhi:before {
  content: "\e681";
}

.icon-7tianwuliyoutuihuo:before {
  content: "\e60e";
}

.icon-youjiantou:before {
  content: "\e619";
}

.icon-chakangengduoshuju:before {
  content: "\e650";
}

.icon-huidingbu:before {
  content: "\e66c";
}

.icon-prev:before {
  content: "\e659";
}

.icon-next:before {
  content: "\e667";
}

.icon-qian:before {
  content: "\e662";
}

.icon-wodekefu:before {
  content: "\e68b";
}

.icon-anquanbaozhang1:before {
  content: "\e61c";
}

.icon-editor2:before {
  content: "\e62e";
}

.icon-next-m:before {
  content: "\e610";
}

.icon-weibiaoti2fuzhi20:before {
  content: "\e631";
}

.icon-sousuoxiao:before {
  content: "\e8d6";
}

.icon-shouji:before {
  content: "\e621";
}

.icon-geren:before {
  content: "\e607";
}

.icon-SDqia:before {
  content: "\e649";
}

.icon-gouwuche:before {
  content: "\e608";
}

.icon-gouwuche1:before {
  content: "\e67e";
}

.icon-qiye:before {
  content: "\e646";
}

.icon-gouwuche4:before {
  content: "\e609";
}

.icon-F:before {
  content: "\e6eb";
}

.icon-icon_gouwuche:before {
  content: "\e64c";
}

